*{
	margin: 0px;
	padding: 0px;
	transition: .3s;	
}
body {
	font-family: 'Source Code Pro', monospace;
	background: #666;
	height: auto;
}
a {text-decoration: none;}
a:hover {color: inherit;}
a:link {color: inherit;}
a:visited {color: inherit;}

/* Header */
header {
	height: 600px;
	position: relative;
	background-image: linear-gradient(to right, rgba(69, 0, 94, .8), rgba(127, 1, 62, .6)), url(img/back.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	background-size: 110%;
}
/* Меню навигации */
.menu {	
	height: auto;
	width: 100%;
	position: fixed;
	border-bottom: 2px solid white;
	color: white;
	background-color: #2e2e2e;
	vertical-align: middle;
}
.menu li {
	font-size: 120%;
	display: inline-block;
	padding: 15px 5%;
	text-align: center;
}
.menu li:hover {
	background: white; 
	color: black;
}
/* Hello */
.hello {
	padding-top: 12%;
	font-size: 80px;
	font-family: 'Sriracha', cursive;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: white;
}

/* Main */
main {
	background: ;
	height: auto;
}
/* Intro */
.intro {
	width: auto;
	height: 400px;
	background-color: #2e2e2e;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	color: white;
	padding: 50px;
}
.intro h2 {
	font-weight: 700;
	font-size: 46px;
	text-align: center; 
	height: 100px;
	padding: 5px;
}
.intro h2:hover {
	font-size: 40px;
}
.intro h2:after {
	content: "";
	display: block;
	height: 3px;
	width: 300px;
	background-color: white;
	margin: 10px auto 0;
}
.intro h2:hover:after {
	width: 200px;
}
.intro h2::after {
	transition: .5s;
}
.intro h2:before {
	content: "";
	display: block;
	height: 3px;
	width: 200px;
	background-color: white;
	margin: 0 auto 10px;
}
.intro h2:hover:before {
	width: 300px;
}
.intro h2::before {
	transition: .5s;
}

/* Секции контента */
.block {
	width: auto;
	height: 200px;
	padding: 50px;
}
.odd {
	color: black;
	background-color: white;
}
.even {
	color: white;
	background-color: #2e2e2e;	
}
.cont {
	padding: 20px;
}
.odd .cont {
	border: 2px solid #2e2e2e;
}
.even .cont {
	border: 2px solid white;
}

/* Footer */
footer {
	bottom: 0px;
	height: 250px;
	width: auto;
	background-color: #2e2e2e;
	border-top: 3px solid white;
	padding: 75px;
}
.footer_content {
	color: white;	
	padding: 30px;
}
